@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@100;300&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    width: 100%;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    height: 800px;
    background: linear-gradient(168.68deg, #FF0000 0%, rgba(255, 0, 0, 0) 100.18%);
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.head-co a img{
    margin-top: 80px;
    margin-left: 19px;
}

.head-co h1 {
    padding-right: 10%;
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 0;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex {
    display: flex;
}


form {
    width: 100%;
    height: 550px;
    margin-top: 25px;
    background: #FFFFFF;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

form img {
    margin-bottom: 26px;
}

.biodata input{
    width: 100%;
    height: 38px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 40px;
    border-style: none;
    border-bottom: 1px solid #9C9999;
}

form .btn-submit input {
    width: 240px;
    height: 48px;
    background: #DE0000;
    color: white;
    margin-top: 100px;
    font-size: 20px;
    border: none;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.forget-pw {
    text-align: right;
}

.forget-pw a {
    text-decoration: none;
    font-size: 16px;
    color: #9C9999;
}

.forget-pw a:hover {
    color: blue;
}

.create {
    margin-top: 20px;
}

.create a {
    font-size: 20px;
    padding: 12px 91px ;
    text-decoration: none;
    color: black;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.create a:hover {
    background-color: #DE0000;
    color: white;
}